.banner {
  background: url("../images/home-header.png") no-repeat center center;
  // background: url('../img/home-header.png') no-repeat center center;
  background-size: cover;
  height: calc(100vh - 80px);
  color: #650300;
}

.banner .content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.banner .content h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 1.5;
}

.banner .content span {
  font-size: 64px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.banner button {
  background-color: #aa0601;
  width: 104px;
  padding: 5px;
  border: none;
}

.banner button a {
  font-size: 20px;
  color: white;
}

@media (max-width: 768px) {
  .banner {
    background: url("../images/home-header-sm.png") no-repeat center center;
    background-size: cover;
  }

  .banner .content h1 {
    font-size: 16px;
    line-height: 1.5;
  }

  .banner .content span {
    font-size: 24px;
    line-height: 1.5;
  }
}

.feature {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.feature ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
}

.feature ul li {
  flex: 1;
  @include pad {
    flex: auto;
    width: 100%;
  }
}

.feature h3 {
  color: #650300;
  font-weight: bold;
  font-size: 24px;
}

.feature p {
  text-align: left;
  font-size: 16px;
}

.feature img {
  width: 100px;
}

@media (max-width: 768px) {
  .feature ul li {
  }

  .feature p {
    text-align: center;
  }
}

.classic {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.classic ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  justify-content: space-between;
}

.classic ul li {
  flex: 1;
}

.classic h3 {
  color: #650300;
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
}

@media (max-width: 768px) {
  .classic ul li {
    flex: auto;
    width: 100%;
  }
}

.designed {
  background: url("../images/index-bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.designed .title {
  color: white;
}

.designed h3 {
  color: #650300;
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
}

.designed ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}

.designed ul li {
  width: 50%;
  background-color: white;
  padding-bottom: 8px;
}

@media (max-width: 768px) {
  .designed {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .designed ul li {
    width: 100%;
  }
}

.recommend {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.recommend ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
}

.recommend ul li {
  position: relative;
  text-align: left;
  flex: auto;
  width: 22%;
  height: 511px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  box-shadow: 0 2px 6px #00000029;
}

.recommend ul li img {
  width: 100%;
  height: 306px;
  object-fit: cover;
}

.recommend ul li .text {
  padding: 16px;
}

.text p {
  font-size: 16px;
  line-height: 1.5;
}

.text span {
  position: absolute;
  font-size: 14px;
  line-height: 1.5;
  left: 16px;
  bottom: 16px;
  color: #707070;
}

@media (max-width: 768px) {
  .recommend ul li {
    width: 100%;
  }
}

.contact-form {
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact-form .container {
  margin: 0 auto;
  max-width: 660px;
  padding-left: 12px;
  padding-right: 12px;
}

.contact-form .introduce {
  font-size: 20px;
  line-height: 1.5;
}

.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  padding-left: 12px;
}

.contact-form button {
  display: block;
  width: 416px;
  margin: 0 auto;
  padding: 16px 0;
  font-size: 16;
  background-color: #aa0601;
  color: white;
  border: none;
  margin-top: 40px;
}

.contact-form button:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .contact-form button {
    width: 100%;
  }
}
